.main-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}

.col {
  width: calc(50% - 4px);
}

.col-33 {
  width: calc(33% - 4px);
}

.col-33 input,
.col input:not([type="checkbox"]),
.col-33 select {
  margin: 0 !important;
}

.container .left-section {
  width: 50%;
  min-height: 100%;
  max-height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  transition: transform 0.5s ease-in-out;
}

.container .left-section img {
  max-width: 60%;
}

.container .right-section {
  width: 50%;
  padding: 20px;
  background: var(--right-section-bg);
  transition: transform 0.5s ease-in-out;
}

form {
  width: 100%;
}

label {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

label[for="useGitignore"],
label[for="useNodeNotifier"] {
  display: flex;
  align-items: center;
}

label.required-msg {
  font-weight: 400;
}

label span {
  color: red;
}

select {
  width: 100%;
  max-width: -webkit-fill-available;
  padding: 9px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

input:not([type="checkbox"]) {
  width: 100%;
  max-width: -webkit-fill-available;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input:not([type="checkbox"]):active,
input:not([type="checkbox"]):focus,
select:active,
select:focus {
  outline: 1px solid #631e4d;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button:not(.darkModeToggle) {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #631e4d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:not(.darkModeToggle):hover {
  background-color: #481739;
}

button:not(.darkModeToggle):active {
  background-color: #481739;
}

img {
  user-select: none;
  pointer-events: none;
}

.darkModeToggle {
  width: 46px;
  height: 46px;
  box-sizing: border-box;
  padding: 12px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.sun {
  width: 50%;
  height: 50%;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.6) rotate(0deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;

  /*  white transparent for Safari  */
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, #f0f0f0 50%);
}

.sun:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    #f0f0f0 30%,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 50%,
    #f0f0f0 50%
  );
  transform: rotate(45deg);
}

.sun.visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) rotate(180deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.moon {
  width: 50%;
  height: 50%;
  pointer-events: none;
  position: absolute;
  left: 12.5%;
  top: 18.75%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  box-shadow: 9px 3px 0px 0px #333;
  opacity: 0;
  transform: scale(0.3) rotate(65deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.moon.visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) rotate(0deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.star {
  position: absolute;
  top: 25%;
  left: 5%;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #333;
  border-left: 7px solid rgba(0, 0, 0, 0);
  transform: scale(0.55) rotate(35deg);
  opacity: 0;
  transition: all 0.2s ease-in 0.4s;
}

.star:before {
  border-bottom: 5px solid #333;
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  position: absolute;
  height: 0;
  width: 0;
  top: -3px;
  left: -5px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  top: 0px;
  left: -7px;
  width: 0px;
  height: 0px;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #333;
  border-left: 7px solid rgba(0, 0, 0, 0);
  transform: rotate(-70deg);
  content: "";
}

.moon.visible .star {
  opacity: 0.8;
}

.star.small {
  transform: scale(0.35) rotate(35deg);
  position: relative;
  top: 50%;
  left: 37.5%;
  opacity: 0;
  transition: all 0.2s ease-in 0.45s;
}

.moon.visible .star.small {
  opacity: 0.7;
  transform: scale(0.45) rotate(35deg);
}

.notification-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.notification-panel h2 {
  color: white;
}

.notification-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  max-height: calc(100% - 70px);
  padding-right: 8px;
  margin-right: -11px;
}

.notification-container::-webkit-scrollbar {
  width: 3px;
}

.notification-container::-webkit-scrollbar-thumb {
  background-color: #631e4d;
  border-radius: 5px;
}
.notification-card {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.notification-card h4 {
  margin: 0 0 5px;
  font-size: 14px;
  color: #333;
}

.notification-card p {
  margin: 0;
  font-size: 12px;
  color: #666;
}

.main-container.active .right-section {
  transform: translateX(-100%);
}

.main-container.active .left-section {
  transform: translateX(100%);
  position: relative;
}

.main-container.active .notification-panel {
  opacity: 1;
  pointer-events: all;
}

.main-container.active .left-section::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  background-color: black;
}
